.row {
  margin: none;
  width: 110%;
}
.header {
  text-align: center;
}
.main_div {
  background-position: center;
  height: 670px;
  width: 100%;
  background-image: url(./Component/Image1.jpg);
}
.card-deck {
  overflow: hidden;
}

.input {
  width: 75%;
}
.weather {
  padding: 40px;
}
.card {
  background: transparent;
  display: flex;

  align-content: center;
}
.error {
  margin-top: 100px;
}
.card-title {
  list-style: none;
}
